:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 440px;
  height: auto;
  background: linear-gradient(rgb(21, 21, 25), rgba(0, 147, 145));
  color: white;
  padding: 20px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #05ff0d;
  position: relative; /* Added position relative */
}

.title {
  text-align: center;
  margin: 12px 0;
  padding: 5px;
  font-size: 1.8rem;
  border: 2px solid aqua;
  border-radius: 5px;
}

.item {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  font-size: 1.2em;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.autofill-button-container {
  align-items: right;
  justify-content: end;
}

.autofill-button {
  background-color: #22b627;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: sticky;
  top: 100px;
}

.autofill-button:hover {
  background-color: #043206; /* Darker green background color on hover */
}
