.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 700px;
  background: linear-gradient(rgb(21, 21, 25), rgba(0, 147, 145));
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 50px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: transparent;
}

.container form label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
}

.container form input {
  height: 40px;
  font-size: 18px;
}

.container form button {
  font-size: 20px;
}
